[data-theme='dark'] {
  --theme-color: #648fbb;
  --theme-color10: #648fbb1A;  /* for --blockquote-bg */
  --theme-color80: #648fbbCC;  /* for --btn-bg */
  --theme-color-dark5: #6d98c4;
  --theme-color-light20: #4672a0;
  --theme-color-light30: var(--white70);  /* for --hr-before-color */
  --theme-color-light50: var(--white40);  /* for --hr-border */
  --theme-color-light85: #0d151e;  /* for --scrollbar-color */
  --sub-theme-color: #e3618e;
  --sub-theme-color-light30: #e3618ea6;  /* for nav underline */
  --theme-color30: #e3618e4D;  /* for --text-bg-hover */
  
  --font-color: #afafaf;
  --font-link: #a1a6ad;
  --font-link90: #a1a6ade6;
  --text-highlight-color: #d3d3d3;

  /* Global color & SVG */
  --dark-grey: #636363;  /* for toc border left */
  --grey: #7D7D82;  /* for meta-color */
  --grey60: #7D7D8299;
  --light-grey: #cacaca;  /* for nav, post meta, ... */
  --white: #ffffffd9;

  /* Background */
  --web-bg: #1f1f20;
  --global-bg: #1f1f1f;
  --card-bg: #121213;
  --sidebar-bg: #181819;
  /* --card-box-shadow: #07111b0d; */
  /* --card-hover-box-shadow: #07111b17; */
  --nav-bg: #121213e6;

  /* Page */
  --title-border-color: #28282b;

  /* Search - same variables as light mode */

  /* Button */

  /* ToC */
  --toc-link-color: var(--white80);
  /* --theme-toc-color: var(--theme-color); */
  --toc-active-color: var(--dark-black);
  /* --toc-link-hover: var(--sub-theme-color); */

  /* Code */
  --code-bg: #2a2a2a;

  /* List - same variables as light mode */

  /* Blockquote */
  --blockquote-color: var(--white70);
  /* --blockquote-padding-color: var(--theme-color); */
  --blockquote-bg: #1a1a1a; /* lighten(#121212, 10) */

  /* Tag Plugins - Tab */
  --tab-border-color: #2c2c2c;
  --tab-botton-bg: #2c2c2c;
  /* --tab-botton-color: var(--font-color); */
  --tab-button-hover-bg: #383838; /* lighten(#121212, 15)*/
  /* --tab-button-active-bg: var(--card-bg); */
  /* --tab-button-active-color: var(--theme-color);
  --tab-to-top-color: var(--font-link);
  --tab-to-top-hover-color: var(--theme-color); */

  /* ETC */
  --scrollbar-color: #525252; /* lighten(#121212, 25)*/
  --default-bg-color: var(--theme-color);
  --zoom-bg: #121212;
  --mask-bg: var(--dark-black60);
  --reward-pop-bg: #1a1a1a; /* lighten(#121212, 10) */

  /* Preloader - Not Used in this site */
  --preloader-bg: #0d0d0d;
  --preloader-color : var(--white70);

}

body.read-mode #article-container .code-expand-btn {
  background: none;
}