/* font-weight */
body {
  font-weight: 350;
}

/* navigation */
#nav {
  padding: 0 20px;
}

/* footer */
#footer:before{
  opacity: 0;
}
#footer {
  background: linear-gradient(-130deg, #f8547b20, #0009dc20);
}
#footer-wrap , #footer-wrap a{
  color: var(--black50);
}

/* aside */
#aside-content .item-headline {
  padding-bottom: 10px;
  font-size: 1.1em;
}

#aside-content .aside-list > .aside-list-item .thumbnail {
  width: 3em;
  height: 3em;
}

#aside-content .aside-list > .aside-list-item .content > .title,
#aside-content .aside-list > .aside-list-item .content > .comment {
  -webkit-line-clamp: 1;
}

/* recent post list */
#recent-posts > .recent-post-item >.recent-post-info > .content {
  -webkit-line-clamp: 2;
  margin-top: 0.7em;

}
@media screen and (min-width: 769px){
  #recent-posts > .recent-post-item {
    height: 14em;
  }
}

/* 404 */

.error404 #error-wrap .error-content .error-img {
  background-color: #CBE3FF;
  
}

.error404 #error-wrap .error-content .error-img img {
  width: auto;
  margin: 0 calc(min(250px,25vw) - 200px);
}
@media screen and (max-width: 768px) {
  .error404 #error-wrap .error-content .error-img {
    height: 100%
  }
  .error404 #error-wrap .error-content .error-img img {
    margin: 0 calc(50vw - 273px);
    height: 500px;
  }

  .error404 #error-wrap .error-content .error-info {
    display: none;
  }
}