/* H1-H6 아이콘 색상 및 크기 조정 및 위치 조정 */
#content-inner.layout h1::before,
#content-inner.layout h1 i::before {
  color: rgba(252, 55, 117, 0.8);
  font-size: 1.3rem;
  /* margin-left: -1.55rem; */
  /* margin-top: -0.33rem; */
}
#content-inner.layout h2::before {
  color: rgba(252, 116, 29, 0.8);
  font-size: 1.1rem;
  /* margin-left: -1.35rem; */
  /* margin-top: -0.18rem; */
}
#content-inner.layout h3::before {
  color: rgba(255, 192, 0, 0.8);
  font-size: 0.95rem;
  /* margin-left: -1.22rem; */
  /* margin-top: -0.14rem; */
}
#content-inner.layout h4::before {
  color: rgba(175, 238, 0, 0.8);
  font-size: 0.8rem;
  /* margin-left: -1.05rem;
  margin-top: -0.05rem; */
}
#content-inner.layout h5::before {
  color: rgba(86, 210, 113, 0.8);
  font-size: 0.7rem;
  /* margin-left: -0.9rem; */
  /* margin-top: 0.0rem; */
}
#content-inner.layout h6::before {
  color: rgba(88, 195, 231, 0.8);
  font-size: 0.66rem;
  /* margin-left: -0.9rem; */
  /* margin-top: 0.05rem; */
}

[data-theme=dark] #content-inner.layout h1::before,
[data-theme=dark] #content-inner.layout h1 i::before, 
[data-theme=dark] #content-inner.layout h2::before,
[data-theme=dark] #content-inner.layout h3::before,
[data-theme=dark] #content-inner.layout h4::before,
[data-theme=dark] #content-inner.layout h5::before,
[data-theme=dark] #content-inner.layout h6::before {
  filter: brightness(0.7);
}

/* link underline */
#article-container a {
  text-decoration: underline;
  text-decoration-style: dashed;
}
#article-container a:hover {
  text-decoration-style: solid;
}
#article-container a:active {
  color: var(--sub-theme-color);
}
/* word break */
#article-container {
  word-break: keep-all;
  text-align: start;
}

/* language notice */
.language-notice {
  background: #dae5f7e6 !important;
  color: #7284a3ff !important;
}
.language-notice.language-all::before {
  font-family: 'fontagon-icons' !important;
  content: "\f105" !important;
  color: #7284a3ff !important;
}

/* post - pagination */
@media screen and (max-width: 768px) {
  #pagination .prev-post, #pagination .next-post {
  width: 50%;
  }
}
#pagination .page-number.current {
  color: #FFF;
}
[data-theme=light] #pagination.pagination-post{
  background: linear-gradient(-130deg, #e3949c, #8c96e2);
}
[data-theme=dark] #pagination.pagination-post {
  background: linear-gradient(-130deg, #030b55, #450309);
}
#pagination {
  padding: 0 !important;
}
#pagination .prev-post a,
#pagination .next-post a {
  height: 120px;
}