.checkbox {
  display: flex;
  align-items: center;
}
.checkbox input {
  appearance: none;
  position: relative;
  height: 16px;
  width: 16px;
  transition: all 0.15s ease-out 0s;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 2px;
  flex-shrink: 0;
  margin-right: 8px;
  border: 2px solid var(--tag-blue);
  pointer-events: none;
}
.checkbox input[type="checkbox"]::before {
  left: 1px;
  top: 5px;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in;
  transform: rotate(45deg);
}
.checkbox input[type="checkbox"]::after {
  right: 7px;
  bottom: 3px;
  width: 2px;
  height: 0;
  transition: all 0.2s ease-out;
  transform: rotate(40deg);
  transition-delay: 0.25s;
}
.checkbox input[type="checkbox"]:checked {
  background: var(--tag-blue);
}
.checkbox input[type="checkbox"]:checked::before {
  left: 0;
  top: 7px;
  width: 6px;
  height: 2px;
}
.checkbox input[type="checkbox"]:checked::after {
  right: 3px;
  bottom: 1px;
  width: 2px;
  height: 10px;
}
.checkbox.minus input[type="checkbox"]::before {
  transform: rotate(0);
  left: 1px;
  top: 5px;
  width: 0;
  height: 2px;
}
.checkbox.minus input[type="checkbox"]::after {
  transform: rotate(0);
  left: 1px;
  top: 5px;
  width: 0;
  height: 2px;
}
.checkbox.minus input[type="checkbox"]:checked::before {
  left: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox.minus input[type="checkbox"]:checked::after {
  left: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox.plus input[type="checkbox"]::before {
  transform: rotate(0);
  left: 1px;
  top: 5px;
  width: 0;
  height: 2px;
}
.checkbox.plus input[type="checkbox"]::after {
  transform: rotate(0);
  left: 5px;
  top: 1px;
  width: 2px;
  height: 0;
}
.checkbox.plus input[type="checkbox"]:checked::before {
  left: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox.plus input[type="checkbox"]:checked::after {
  left: 5px;
  top: 1px;
  width: 2px;
  height: 10px;
}
.checkbox.times input[type="checkbox"]::before {
  transform: rotate(45deg);
  left: 3px;
  top: 1px;
  width: 0;
  height: 2px;
}
.checkbox.times input[type="checkbox"]::after {
  transform: rotate(135deg);
  right: 3px;
  top: 1px;
  width: 0;
  height: 2px;
}
.checkbox.times input[type="checkbox"]:checked::before {
  left: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox.times input[type="checkbox"]:checked::after {
  right: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox input[type="radio"] {
  border-radius: 50%;
}
.checkbox input[type="radio"]::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 2px;
  transform: scale(0);
  transition: all 0.25s ease-out;
}
.checkbox input[type="radio"]:checked::before {
  transform: scale(1);
  background: var(--sub-theme-color);
}
.checkbox.red input {
  border-color: var(--tag-red);
}
.checkbox.red input[type="checkbox"]:checked {
  background: var(--tag-red);
}
.checkbox.red input[type="radio"]:checked::before {
  background: var(--tag-red);
}
.checkbox.green input {
  border-color: var(--tag-green);
}
.checkbox.green input[type="checkbox"]:checked {
  background: var(--tag-green);
}
.checkbox.green input[type="radio"]:checked::before {
  background: var(--tag-green);
}
.checkbox.yellow input {
  border-color: var(--tag-yellow);
}
.checkbox.yellow input[type="checkbox"]:checked {
  background: var(--tag-yellow);
}
.checkbox.yellow input[type="radio"]:checked::before {
  background: var(--tag-yellow);
}
.checkbox.cyan input {
  border-color: var(--tag-cyan);
}
.checkbox.cyan input[type="checkbox"]:checked {
  background: var(--tag-cyan);
}
.checkbox.cyan input[type="radio"]:checked::before {
  background: var(--tag-cyan);
}
.checkbox.blue input {
  border-color: var(--tag-blue);
}
.checkbox.blue input[type="checkbox"]:checked {
  background: var(--tag-blue);
}
.checkbox.blue input[type="radio"]:checked::before {
  background: var(--tag-blue);
}
.checkbox p {
  display: inline-block;
  margin-top: 2px !important;
  margin-bottom: 0 !important;
}
.checkbox input[type="checkbox"]::before,
.checkbox input[type="checkbox"]::after {
  position: absolute;
  content: "";
  background: var(--white);
}