#article-container a.link-card {
  margin: 0.25em auto;
  background: var(--light-grey);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  min-width: 200px;
  max-width: 361px;
  color: var(--dark-black60);
  border-radius: 12px;
  text-decoration: none;
}
#article-container a.link-card:hover {
  box-shadow: 0 4px 8px 0 #0000001a;
}
#article-container a.link-card div.left {
  width: 48px;
  height: 48px;
  margin: 12px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
#article-container a.link-card div.left i {
  font-size: 32px;
  line-height: 48px;
  margin-left: 4px;
}
#article-container a.link-card div.left img {
  display: block;
  position: absolute;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#article-container a.link-card div.right {
  overflow: hidden;
  margin-right: 12px;
}
#article-container a.link-card p {
  margin: 0;
}
#article-container a.link-card p.text {
  font-weight: 600;
}
#article-container a.link-card p.url {
  flex-shrink: 0;
  color: #444444a6;
  font-size: 13px;
}
@media screen and (max-width: 425px) {
  #article-container a.link-card {
  max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  #article-container a.link-card {
  width: 100%;
  }
}
#article-container a.link-card div.left,
#article-container a.link-card div.right {
  pointer-events: none;
}
/* [data-theme="dark"] #article-container a.link-card {
  filter: brightness(0.7);
} */
/* [data-theme="dark"] #article-container a.link-card img {
  filter: brightness(1);
} */