/* H1-H6 아이콘 색상 및 크기 조정 및 위치 조정 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-top: 0.4rem;
}
#content-inner.layout h1::before,
#content-inner.layout h1 i::before {
  color: rgba(252, 55, 117, 0.8);
  font-size: 1.1rem;
  /* margin-left: -1.55rem; */
  /* margin-top: -0.33rem; */
}
#content-inner.layout h1.page-title::before,
#content-inner.layout h1.page-title i::before {
  font-size: 1.5rem;
}
#content-inner.layout h2::before {
  color: rgba(252, 116, 29, 0.8);
  font-size: 1rem;
  /* margin-left: -1.35rem; */
  /* margin-top: -0.18rem; */
}
#content-inner.layout h3::before {
  color: rgba(255, 192, 0, 0.8);
  font-size: 0.95rem;
  /* margin-left: -1.22rem; */
  /* margin-top: -0.14rem; */
}
#content-inner.layout h4::before {
  color: rgba(175, 238, 0, 0.8);
  font-size: 0.8rem;
  /* margin-left: -1.05rem;
  margin-top: -0.05rem; */
}
#content-inner.layout h5::before {
  color: rgba(86, 210, 113, 0.8);
  font-size: 0.7rem;
  /* margin-left: -0.9rem; */
  /* margin-top: 0.0rem; */
}
#content-inner.layout h6::before {
  color: rgba(88, 195, 231, 0.8);
  font-size: 0.66rem;
  /* margin-left: -0.9rem; */
  /* margin-top: 0.05rem; */
}

[data-theme=dark] #content-inner.layout h1::before,
[data-theme=dark] #content-inner.layout h1 i::before, 
[data-theme=dark] #content-inner.layout h2::before,
[data-theme=dark] #content-inner.layout h3::before,
[data-theme=dark] #content-inner.layout h4::before,
[data-theme=dark] #content-inner.layout h5::before,
[data-theme=dark] #content-inner.layout h6::before {
  filter: brightness(0.7);
}

/* link underline */
#article-container a {
  text-decoration: underline;
  text-decoration-style: dashed;
}
#article-container a:hover {
  text-decoration-style: solid;
}
#article-container a:active {
  color: var(--sub-theme-color);
}
/* word break */
#article-container {
  word-break: keep-all;
  text-align: start;
}

/* language notice */
.language-notice.note.modern {
  background: #dbe6f7bf;
  color: #566786ff;
}
.language-notice.language-all::before {
  font-family: 'fontagon-icons' !important;
  content: "\f105" !important;
}
.language-notice.language-kor::before {
  font-family: 'fontagon-icons' !important;
  content: "\f103" !important;
}

/* post - pagination */
[data-theme=light] #pagination.pagination-post {
  background: linear-gradient(-130deg, #e3949c, #8c96e2);
}
[data-theme=dark] #pagination.pagination-post {
  background: linear-gradient(-130deg, #030b55, #450309);
}
#pagination {
  padding: 0 !important;
}

 /* post - related posts */
[data-theme=light] .relatedPosts > .relatedPosts-list > a {
  background: #6699cccf;
}
[data-theme=dark] .relatedPosts > .relatedPosts-list > a {
  background: #2b2b2d82;
}

/* post - comment */
#post-comment.card-widget {
  margin-bottom: 20px;
}


/* post meta - category list */
#post-meta > .meta-secondline > span,
#post-meta > .meta-thirdline > span,
#post-meta > .meta-thirdline a {
  text-wrap: nowrap;
}
#post-meta > .meta-thirdline {
  display: inline-flex;
}
#post-meta .meta-thirdline ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#post-meta .meta-thirdline > ul.category-list {
  display: flex;
  word-break: break-word;
  margin-left: -0.3em;
}
#post-meta > .meta-thirdline ul > li {
  display: flex;
}
#post-meta > .meta-thirdline ul > li > i {
  line-height: 1.5;
  margin: 0 0.3em;
}
#post-meta > .meta-thirdline > ul.category-list > li.category-list-item:not(:last-child)::after {
  content: ",";
  font-family: 'Roboto Mono';
}


/* tags page */
h1.page-title + .tag-cloud-list a:not(:hover) {
  background-clip: text;
  mix-blend-mode: difference;
}


/* Toc */
#card-toc .toc-content .toc-link {
  margin: 0.1rem 0;
  padding: 0.1rem 0.6rem;
}


/* Code */
code {
  border-radius: 3px;
}




/* horizontal line */
hr {
  margin: 1.5rem auto;
}
hr:before,
.custom-hr::before,
#article-container hr:before,
.search-dialog hr:before {
  -webkit-transition: left 3s ease-in-out, background-color 0s;
  -moz-transition: left 3s ease-in-out, background-color 0s;
  -o-transition: left 3s ease-in-out, background-color 0s;
  -ms-transition: left 3s ease-in-out, background-color 0s;
  transition: left 3s ease-in-out, background-color 0s;
}
.read-mode #article-container hr.footnotes-sep:before,
.read-mode #article-container section.footnotes ol li.footnote-item:before {
  background: var(--global-bg) !important;
}
hr:hover::before,
.custom-hr:hover::before,
#article-container hr:hover::before,
.search-dialog hr:hover::before {
  -webkit-animation: wrench 5s ease;
  animation: wrench 5s ease;
  left: calc(95% - 30px)
}

/* footnotes */
#article-container hr.footnotes-sep {
  margin-bottom: 25px;
}
#article-container hr.footnotes-sep:before {
  background: var(--card-bg);
  margin: 0.5em;
  top: -1em;
}
#article-container section.footnotes {
  padding-right: 0.3em;
  font-size: 0.95em;
}
#article-container section.footnotes ol p,
#article-container section.footnotes ul p {
  margin-bottom: -2px;
}
#article-container sup.footnote-ref a:focus {
    color: var(--sub-theme-color) !important;
    outline: 2px solid var(--sub-theme-color-light30) !important;
}
.read-mode #article-container sup.footnote-ref a:focus {
  color: var(--theme-color) !important;
  outline: 2px solid var(--theme-color-light20) !important;
}
#article-container section.footnotes > .footnotes-list .footnote-item:focus {
  outline: 2px solid var(--hr-border) !important;
}




/* WRENCHING */
@-moz-keyframes wrench {
	0%{-moz-transform:rotate(-12deg)}
	8%{-moz-transform:rotate(12deg)}
	10%{-moz-transform:rotate(24deg)}
	18%{-moz-transform:rotate(-24deg)}
	20%{-moz-transform:rotate(-24deg)}
	28%{-moz-transform:rotate(24deg)}
	30%{-moz-transform:rotate(24deg)}
	38%{-moz-transform:rotate(-24deg)}
	40%{-moz-transform:rotate(-24deg)}
	48%{-moz-transform:rotate(24deg)}
	50%{-moz-transform:rotate(24deg)}
	58%{-moz-transform:rotate(-24deg)}
	60%{-moz-transform:rotate(-24deg)}
	68%{-moz-transform:rotate(24deg)}
	75%{-moz-transform:rotate(0deg)}
}
@-webkit-keyframes wrench {
	0%{-webkit-transform:rotate(-12deg)}
	8%{-webkit-transform:rotate(12deg)}
	10%{-webkit-transform:rotate(24deg)}
	18%{-webkit-transform:rotate(-24deg)}
	20%{-webkit-transform:rotate(-24deg)}
	28%{-webkit-transform:rotate(24deg)}
	30%{-webkit-transform:rotate(24deg)}
	38%{-webkit-transform:rotate(-24deg)}
	40%{-webkit-transform:rotate(-24deg)}
	48%{-webkit-transform:rotate(24deg)}
	50%{-webkit-transform:rotate(24deg)}
	58%{-webkit-transform:rotate(-24deg)}
	60%{-webkit-transform:rotate(-24deg)}
	68%{-webkit-transform:rotate(24deg)}
	75%{-webkit-transform:rotate(0deg)}
}
@-o-keyframes wrench {
	0%{-o-transform:rotate(-12deg)}
	8%{-o-transform:rotate(12deg)}
	10%{-o-transform:rotate(24deg)}
	18%{-o-transform:rotate(-24deg)}
	20%{-o-transform:rotate(-24deg)}
	28%{-o-transform:rotate(24deg)}
	30%{-o-transform:rotate(24deg)}
	38%{-o-transform:rotate(-24deg)}
	40%{-o-transform:rotate(-24deg)}
	48%{-o-transform:rotate(24deg)}
	50%{-o-transform:rotate(24deg)}
	58%{-o-transform:rotate(-24deg)}
	60%{-o-transform:rotate(-24deg)}
	68%{-o-transform:rotate(24deg)}
	75%{-o-transform:rotate(0deg)}
}
@-ms-keyframes wrench {
	0%{-ms-transform:rotate(-12deg)}
	8%{-ms-transform:rotate(12deg)}
	10%{-ms-transform:rotate(24deg)}
	18%{-ms-transform:rotate(-24deg)}
	20%{-ms-transform:rotate(-24deg)}
	28%{-ms-transform:rotate(24deg)}
	30%{-ms-transform:rotate(24deg)}
	38%{-ms-transform:rotate(-24deg)}
	40%{-ms-transform:rotate(-24deg)}
	48%{-ms-transform:rotate(24deg)}
	50%{-ms-transform:rotate(24deg)}
	58%{-ms-transform:rotate(-24deg)}
	60%{-ms-transform:rotate(-24deg)}
	68%{-ms-transform:rotate(24deg)}
	75%{-ms-transform:rotate(0deg)}
}
@keyframes wrench {
	0%{transform:rotate(-12deg)}
	8%{transform:rotate(12deg)}
	10%{transform:rotate(24deg)}
	18%{transform:rotate(-24deg)}
	20%{transform:rotate(-24deg)}
	28%{transform:rotate(24deg)}
	30%{transform:rotate(24deg)}
	38%{transform:rotate(-24deg)}
	40%{transform:rotate(-24deg)}
	48%{transform:rotate(24deg)}
	50%{transform:rotate(24deg)}
	58%{transform:rotate(-24deg)}
	60%{transform:rotate(-24deg)}
	68%{transform:rotate(24deg)}
	75%{transform:rotate(0deg)}
}