/* H1-H6 아이콘 색상 및 크기 조정 및 위치 조정 */
h1, h2, h3, h4, h5, h6 {
  margin: 1.2em 0 0.3em 0;
}
#article-container > *:nth-child(2) {
  margin-top: 0;
}
#article-container h1 {
  font-size: 1.65em;
  font-weight: 500;
}
#article-container h1::before,
#article-container h1 i::before {
  font-size: 0.9em;
  margin-top: -0.2em;
  color: #fc3775cc;
}
h1.page-title {
  margin-top: .67em;
}
h1.page-title::before,
h1.page-title i::before {
  font-size: 1.1em;
}
#article-container h2 {
  font-size: 1.5em;
  font-weight: 500;
}
#article-container h2::before {
  font-size: 0.9em;
  margin-top: -0.16em;
  color: #fc741dcc;
}
#article-container h3 {
  font-size: 1.35em;
  font-weight: 500;
}
#article-container h3::before {
  font-size: 0.9em;
  margin-top: -0.1em;
  color: #ffc000cc;
}
#article-container h4 {
  font-size: 1.25em;
  font-weight: 500;
}
#article-container h4::before {
  font-size: 0.9em;
  margin-top: -0.05em;
  color: #afee00cc;
}
#article-container h5 {
  font-size: 1.1em;
  font-weight: 500;
}
#article-container h5::before {
  font-size: 0.9em;
  color: #56d271cc;
}
#article-container h6 {
  font-size: 1em;
  font-weight: 600;
}
#article-container h6::before {
  font-size: 0.9em;
  color: #58c3e7cc;
}

[data-theme=dark] #article-container h1::before,
[data-theme=dark] #article-container h1 i::before, 
[data-theme=dark] #article-container h2::before,
[data-theme=dark] #article-container h3::before,
[data-theme=dark] #article-container h4::before,
[data-theme=dark] #article-container h5::before,
[data-theme=dark] #article-container h6::before {
  filter: brightness(0.7);
}

/* link underline */
#article-container a {
  text-decoration: underline;
  text-decoration-style: dashed;
}
#article-container a:hover {
  text-decoration-style: solid;
}
#article-container a:active {
  color: var(--sub-theme-color);
}
/* word break */
#article-container {
  word-break: keep-all;
  text-align: start;
}

/* language notice */
.language-notice.note.modern {
  background: #dbe6f7bf;
  color: #566786ff;
}
.language-notice.language-all::before {
  font-family: 'fontagon-icons' !important;
  content: "\f105" !important;
}
.language-notice.language-kor::before {
  font-family: 'fontagon-icons' !important;
  content: "\f103" !important;
}


/* post - pagination */
[data-theme=light] #pagination.pagination-post {
  background: linear-gradient(-130deg, #e3949c, #8c96e2);
}
[data-theme=dark] #pagination.pagination-post {
  background: linear-gradient(-130deg, #030b55, #450309);
}
#pagination {
  padding: 0 !important;
}

 /* post - related posts */
[data-theme=light] .relatedPosts > .relatedPosts-list > a {
  background: #6699cccf;
}
[data-theme=dark] .relatedPosts > .relatedPosts-list > a {
  background: #2b2b2d82;
}

/* post - comment */
#post-comment.card-widget {
  margin-bottom: 20px;
}


@media screen and (max-width: 600px) {
  #post-meta > .meta-secondline {
    display: none;
  }
  
}


/* post meta - category list */
#post-meta span {
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
}
#post-meta span.post-meta-separator {
  display: inline-block;
}
#post-meta span > i {
  display: inline;
}
#post-meta .meta-thirdline ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#post-meta .meta-thirdline > ul.category-list {
  display: inline-table;
}
#post-meta > .meta-thirdline ul > li {
  display: flex;
}
#post-meta > .meta-thirdline ul > li > i {
  line-height: 1.5;
}
#post-meta > .meta-thirdline > ul.category-list > li.category-list-item:not(:last-child)::after {
  content: ",";
  font-family: 'Roboto Mono';
  align-content: flex-end;
}
#post-meta > .meta-thirdline a.category-list-link {
  border-radius: 0.1em;
  padding: 0 0.3em;
  transition: background-color 0.3s, padding 0.3s;
}
#post-meta > .meta-thirdline li:hover > a.category-list-link {
  background-color: var(--theme-color80) !important;
  color: var(--white) !important;
  padding: 0 0.4em;
}

#post-meta > .meta-thirdline > .category-list.sticky {
  display: none;
}
#post-meta .category-list.sticky > .category-list-link {
  display: inline-block;
}
@media screen and (max-width: 600px) {
  #post-meta > .meta-thirdline {
    display: inline-flex;
  }
  #post-meta > .meta-thirdline > .category-list.sticky {
    display: inline;
  }
  #post-meta > .meta-thirdline > .category-list:not(.sticky) {
    display: none;
  }
}

/* post - tag list, sticky category list */
#post-meta .tag_share {
  display: inline-flex;
}
#post-meta .tag_share > .post-meta__tag-list {
  display: inline;
}
#post-meta .tag_share > .post-meta__tag-list > .post-meta__tags {
  display: inline-block;
  padding: 0 0.3em;
  width: fit-content;
  border-radius: 0.2em;
  white-space: nowrap;
}
#post-meta .tag_share > .post-meta__tag-list > .post-meta__tags:hover,
#post-meta > .meta-thirdline .sticky a.category-list-link:hover {
  padding: 0 0.4em;
  background: var(--theme-color80) !important;
  color: var(--white) !important;
}
#post-meta .tag_share .tag-separator:last-child {
  display: none;
}
@media screen and (max-width: 600px) {
  #post-meta .post-meta__tags.not-sticky {
    display: none !important;
  }
  #post-meta .tag-separator.not-sticky {
    display: none;
  }
  #post-meta .tag_share .post-meta__tag-list *:nth-last-child(1 of .tag-separator.sticky) {
    display: none;
  }
}

/* tags page */
h1.page-title + .tag-cloud-list a:not(:hover) {
  background-clip: text;
  mix-blend-mode: difference;
}


/* Toc */
#card-toc .toc-content .toc-link {
  margin: 0.1em 0;
  padding: 0.1em 0.6em;
}


/* Code */
code {
  border-radius: 3px;
  word-break: break-word;
}




/* horizontal line */
hr {
  margin: 1.5em auto;
}
hr:before,
.custom-hr::before,
#article-container hr:before,
.search-dialog hr:before {
  transition: left 3s ease-in-out, background-color 0s;
}
.read-mode #article-container hr.footnotes-sep:before,
.read-mode #article-container section.footnotes ol li.footnote-item:before {
  background: var(--global-bg) !important;
}
hr:hover::before,
.custom-hr:hover::before,
#article-container hr:hover::before,
.search-dialog hr:hover::before {
  -webkit-animation: wrench 5s ease;
  animation: wrench 5s ease;
  left: calc(95% - 30px)
}

/* footnotes */
#article-container hr.footnotes-sep {
  margin-bottom: 25px;
}
#article-container hr.footnotes-sep:before {
  background: var(--card-bg);
  margin: 0.5em;
  top: -1em;
}
#article-container section.footnotes ol p,
#article-container section.footnotes ul p {
  margin-bottom: -2px;
}
#article-container sup.footnote-ref a:focus {
    color: var(--sub-theme-color) !important;
    outline: 2px solid var(--sub-theme-color-light30) !important;
}
.read-mode #article-container sup.footnote-ref a:focus {
  color: var(--theme-color) !important;
  outline: 2px solid var(--theme-color-light20) !important;
}
#article-container section.footnotes > .footnotes-list .footnote-item:focus {
  outline: 2px solid var(--hr-border) !important;
}




/* WRENCHING */
@keyframes wrench {
	0%{transform:rotate(-12deg)}
	8%{transform:rotate(12deg)}
	10%{transform:rotate(24deg)}
	18%{transform:rotate(-24deg)}
	20%{transform:rotate(-24deg)}
	28%{transform:rotate(24deg)}
	30%{transform:rotate(24deg)}
	38%{transform:rotate(-24deg)}
	40%{transform:rotate(-24deg)}
	48%{transform:rotate(24deg)}
	50%{transform:rotate(24deg)}
	58%{transform:rotate(-24deg)}
	60%{transform:rotate(-24deg)}
	68%{transform:rotate(24deg)}
	75%{transform:rotate(0deg)}
}